.pio/
**/.pio/
**/.vscode/
**/build/
**/__pycache__/
**/.clang*
**/*.pyc
**/sdkconfig.old

**/*.bin
**/*.bootloader.bin
**/*.elf
**/*.map
**/*.merged.bin
**/*.partitions.bin

**/data/*.crt
**/data/*.pem
**/data/*.der
**/data/*.key
**/data/*.zip

**/certs/*
!**/certs/README.md
**/main/certs/*
!**/main/certs/README.md

python-cross-platform/**/downloads/
python-cross-platform/**/runtime/
